<h1>EAT da BURGERz!</h1>

<h2>Ready to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" value="1">
		Devour me!
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Absolutely devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
	{{name}}
	<button class="change-devoured" data-id="{{id}}" value="{{devoured}}">COok again?</button>
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>

    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devouredButton" value="1" checked>Devoured<br>
    <input type="radio" name="devouredButton" value="0"> Ready to Eat
  </div>

  <button type="submit">Add Burger</button>
</form>